
#myTable{
	margin: auto;
}

.showMore{
	    position: absolute;
    top: 15px;
    left: 162px;
}

#ageColumn{
	width: 50px;
	text-align: right;
}

#emailColumn{
	width: 400px;
	text-align: left;
}

#nameColumn{
	width: 300px;
	text-align: center;
}